@font-face {
    font-family: 'fontetitulo';
    src: url(/assets/fonts/BillionMiracles.otf);
}

@font-face {
    font-family: 'titulocorpo';
    src: url(/assets/fonts/PlayfairDisplay.ttf);
}

@font-face {
    font-family: 'textocorpo';
    src: url(/assets/fonts/Montserrat.otf);
}

:root {
    --background-color: #efeee7;
    --white-color: #fbfbfb;
    --primary-color: #485935;
    --secundary-color: #809671;
    --lightgreen-color: #cadbb7;
    --default-margin: 16px;
    --minimum-margin: calc(var(--default-margin)/2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'textocorpo', sans-serif;

}

body {
    background-color: #485935;
    color: #485935;
    padding: 0 20px;
}

nav {
    background-color: var(--primary-color);
    width: 100%;
    padding: var(--default-margin);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--secundary-color);
    font-size: 14px;
}


nav a {
    color: var(--lightgreen-color);
    font-weight: 700;
}

nav a:hover {
    color: var(--white-color);
}

#cabecalho {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    padding: var(--default-margin);
    align-items: center;
}

#cabecalho img {
    position: absolute;
}

#titulo {
    text-align: center;
    width: 100%;
}

#titulo h1 {
    font-family: 'fontetitulo';
    font-size: 90px;
    font-weight: 300;
}

#titulo h2 {
    font-size: 12px;
    font-weight: 200;
}

p {
    text-align: justify;
}

div#interface {
    max-width: 1200px;
    background-color: #efeee7;
    margin: 0 auto;

}

header#cabecalho img#icone {
    position: absolute;
    right: 1700px;
    top: 10px;

}

header#cabecalho {
    border-bottom: 1px #000000 solid;
    height: 150px;
    background: url(/assets/images/logomarca_site.jpg) no-repeat 30px 30px;
    background-color: #efeee7;
}

header#cabecalho h1 {
    text-align: center;
    font-family: 'fontelogo';
    color: #809671;
    font-size: 90px;
    font-weight: 300;
    padding-top: 30px;
}

header#cabecalho h2 {
    text-align: center;
    font-weight: 200;
    font-family: sans-serif;
    color: #809671;
    font-size: 12px;
}

figure.bordas-fotos img {
    display: block;
    border: 6px solid #fbfbfb;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;

}

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 1000px;
}

nav#menu li {
    display: inline-block;
    background-color: #cadbb7;
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #809671;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #485935;
    text-decoration: none;
}

nav#menu a:hover {
    color: #efeee7;
}

section#corpo h2 {
    display: block;
    text-align: center;
    font-family: 'titulocorpo';
    margin: 25px;
}

section#corpo h3 {
    font-family: 'titulocorpo';
    margin: 50px;
}

section#corpo p {
    font-family: 'textocorpo';
    margin: 50px;
}

section#corpo ul {
    display: block;
    font-family: 'textocorpo';
    margin: 50px;
    list-style: inside;
    text-align: left;
    list-style-type: circle;
}

#card {}

.duvidas {
    display: flex;
    justify-content: center;
    font-family: 'textocorpo';
    color: var(--primary-color);
    text-align: center;
    font-size: 15px;
    font-weight: 400;


}

.card {
    margin: 10px;
    margin-bottom: 150px;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-content: center;
    padding: 10px;
}

#footer {}

div.container {
    background-color: var(--lightgreen-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

div.container a {
    color: var(--primary-color);
}

div.container h4 {
    font-size: 20px;
    font-family: 'titulocorpo';
    margin-bottom: 15px;

}

div.container a:hover {
    color: var(--background-color);
}

div.container img {
    height: 150px;
}

div.menu {
    text-align: center;
}

.icons a {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
    align-items: center;
    margin-right: 20px;

}

.icons h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    align-items: center;
}

.iconeinstagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #809671;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 17px;
    color: white;
    margin-left: 10px;
}

.iconetiktok {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #809671;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 17px;
    color: white;
    margin-left: 10px;
}

.iconewhatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #809671;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 17px;
    color: white;
    margin-left: 10px;
}

.iconeemail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #809671;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 17px;
    color: white;
    margin-left: 10px;
}

.container ol {
    list-style: none;
}

.icons {
    list-style-type: none;
}